<! DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h3>
      標題: <%= @post.title %>
    </h3>
    <small>
      建立時間: <%= @post.created_at %>
    </small>
    <p>
      內容:
    </p>
    <p>
      <%= simple_format(@post.description) %>
    </p>

    <%= render 'ending'%>

  </body>
</html>
