<! DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
      Dear <%= @user.username %>,
    </p>
    <p>
      您已經在 <em>Postit</em> 註冊成功!
    </p>
    <p>
      敬祝 安康
    </p>
    <%= render 'ending'%>
  </body>
</html>
