<! DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
      感謝您的註冊 :)
    </p>
    <p>
      今後如有新公告，將會盡快在第一時間透過電子郵件向您通知。
    </p>
    <p>
      敬祝 安康
    </p>
    <p>
      ------------------------------------------------------------------
    </p>
    <p>
      此郵件為系統自動發送，請勿回覆。
    </p>
    <p>
      ------------------------------------------------------------------
    </p>
  </body>
</html>
